* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f2f5;
    padding: 0.9rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
}

/* Estilo del formulario */
#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    background-color: #f2f2f2;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.17);

    max-width: 21rem;
}
input {
    padding: 0.3rem;
    font-size: 1rem;
    margin-bottom: 0.3rem;

    border: 1px solid #ccc;
    border-radius: 0.3rem;
    width: 90%;
    transition: all 0.3s ease-in-out; 
}
input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.17);
}
/* Estilos para los botones */
div {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0.5rem;
}
button {
    font-size: 1rem;
    padding: 0.3rem;
    flex: 1;
    margin: 0 0.3rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: #4593e7;
    color: white;
}
button:hover {
    background-color: #357ab6;
}